<ion-content>
  <ion-list>
    <ion-card class="topic-item">
      <ion-card-header [style.fontWeight]="'bold'">
        话题标题
      </ion-card-header>
      <ion-card-content>
        <p>
          话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容
        </p>
        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1524751281919&di=0de652ac86bbed7b6dd1edcdd645ac0e&imgtype=0&src=http%3A%2F%2Fup.enterdesk.com%2Fedpic_source%2Ff5%2F34%2F83%2Ff53483429ccc69d00ae98dd5f05317a4.jpg">
      </ion-card-content>
      <ion-row padding-left padding-right padding-bottom>
        <ion-col no-padding [style.color]="'#888'">
          3421赞 · 298评论
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card class="topic-item">
      <ion-card-header [style.fontWeight]="'bold'">
        话题标题
      </ion-card-header>
      <ion-card-content>
        <p>
          话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容
        </p>
        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1524751281919&di=0de652ac86bbed7b6dd1edcdd645ac0e&imgtype=0&src=http%3A%2F%2Fup.enterdesk.com%2Fedpic_source%2Ff5%2F34%2F83%2Ff53483429ccc69d00ae98dd5f05317a4.jpg">
      </ion-card-content>
      <ion-row padding-left padding-right padding-bottom>
        <ion-col no-padding [style.color]="'#888'">
          3421赞 · 298评论
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card class="topic-item">
      <ion-card-header [style.fontWeight]="'bold'">
        话题标题
      </ion-card-header>
      <ion-card-content>
        <p>
          话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容
        </p>
        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1524751281919&di=0de652ac86bbed7b6dd1edcdd645ac0e&imgtype=0&src=http%3A%2F%2Fup.enterdesk.com%2Fedpic_source%2Ff5%2F34%2F83%2Ff53483429ccc69d00ae98dd5f05317a4.jpg">
      </ion-card-content>
      <ion-row padding-left padding-right padding-bottom>
        <ion-col no-padding [style.color]="'#888'">
          3421赞 · 298评论
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card class="topic-item">
      <ion-card-header [style.fontWeight]="'bold'">
        话题标题
      </ion-card-header>
      <ion-card-content>
        <p>
          话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容
        </p>
        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1524751281919&di=0de652ac86bbed7b6dd1edcdd645ac0e&imgtype=0&src=http%3A%2F%2Fup.enterdesk.com%2Fedpic_source%2Ff5%2F34%2F83%2Ff53483429ccc69d00ae98dd5f05317a4.jpg">
      </ion-card-content>
      <ion-row padding-left padding-right padding-bottom>
        <ion-col no-padding [style.color]="'#888'">
          3421赞 · 298评论
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card class="topic-item">
      <ion-card-header [style.fontWeight]="'bold'">
        话题标题
      </ion-card-header>
      <ion-card-content>
        <p>
          话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容
        </p>
        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1524751281919&di=0de652ac86bbed7b6dd1edcdd645ac0e&imgtype=0&src=http%3A%2F%2Fup.enterdesk.com%2Fedpic_source%2Ff5%2F34%2F83%2Ff53483429ccc69d00ae98dd5f05317a4.jpg">
      </ion-card-content>
      <ion-row padding-left padding-right padding-bottom>
        <ion-col no-padding [style.color]="'#888'">
          3421赞 · 298评论
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card class="topic-item">
      <ion-card-header [style.fontWeight]="'bold'">
        话题标题
      </ion-card-header>
      <ion-card-content>
        <p>
          话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容话题内容
        </p>
        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1524751281919&di=0de652ac86bbed7b6dd1edcdd645ac0e&imgtype=0&src=http%3A%2F%2Fup.enterdesk.com%2Fedpic_source%2Ff5%2F34%2F83%2Ff53483429ccc69d00ae98dd5f05317a4.jpg">
      </ion-card-content>
      <ion-row padding-left padding-right padding-bottom>
        <ion-col no-padding [style.color]="'#888'">
          3421赞 · 298评论
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-list>
</ion-content>