page-me {
    .me-header {
        padding: 40px 20px;
        background-color: map-get($colors, primary);
        ion-avatar {
            img {
                margin: 0 auto;
                border-radius: 50px;
                border: 3px solid #FFF;
                width: 100px;
                height: 100px;
                border-radius: 50px;
            }
        }
    }
    .me-username {
        padding-top: 10px;
        font-size: 1.5em;
        color: #FFF;
        text-align: center;
    }
}
